<div class="columns is-centered is-flex is-align-items-center" style="min-height: 100vh;">
  <div class="column is-4">
  <div class="container has-text-centered"> 
    <%= image_tag('edison-logo-shield-only-5dc3ef2a826159dd0b33007164877010439f89c36b2a18cd327a4a407e12d799.svg', alt: 'YourAppName Logo', width: "200", height: "200") %>
  </div>
  <h2 class="title is-2 has-text-centered has-text-primary">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "box" }) do |f| %>
      <div class="field">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", required: true %>
      </div>

      <div class="field">
        <%= f.label :password, class: "label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "input", required: true %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: "checkbox" %>
          <%= f.label :remember_me, class: "checkbox" %>
        </div>
      <% end %>

      <div class="field">
        <%= f.submit "Log in", class: "button is-primary is-fullwidth" %>
      </div>
    <% end %>
  </div>
</div>
